<% content_for :navbar do %>
  <%= render 'layouts/nav' %>
<% end %>

<% content_for :page do %>

<div class="container results-container">
  <% unless @matches.empty? %>
    <h3 class="results-length">There are <%= @matches.length %> businesses with names that match "<%= @search_term %>"...</h3>
    <% @matches.each do |biz| %>
      <%= render partial: 'businesses/business_snippet', locals: { business: biz } %>
    <% end %>  
  <% else %>
  <h1 class="no-results"><span class="logo my">Oh no!</span> It looks like there aren't any businesses named "<%= @search_term %>"! </h1>
  <% end %>
</div>

<% end %>
