<% content_for :headers do %>
  
<%= render partial: 'layouts/map_js', locals: {center: @center} %>

<% end %>

<% content_for :map do %>
<%= render partial: 'map' %>
<% end %>

<% content_for :page do %>

  <h1 id="business_name"><%= link_to @business.name, @business.url %></h1>
  <p id="notice"><%= notice %></p>
  <p><strong>Map Center: <%= @center %></strong></p>

  <img src="<%= @business.image_url %>">

  <p>Rating: <%= @business.rating %></p>
  <p>Number of Reviews: <%= @business.review_count%></p>
  <p>Phone Number: <%= @business.display_phone %></p>
  <p>Street Address: <%= @business.location.display_address %></p>

  <p><%= @business.snippet_text %></p>

  <%= link_to 'Edit', edit_business_path(@business) %> |
  <%= link_to 'Back', businesses_path %>

<% end %>