<% content_for :headers do %>  
  <%= render partial: 'businesses/show_map_js', locals: {center: @center} %>
<% end %>

<% content_for :navbar do %>
  <%= render 'layouts/user_menu' %>
<% end %>

<% content_for :map do %>
  <div class="col-md-4">
    <%= render partial: 'map' %>
  </div>
<% end %>

<% content_for :page do %>

<div class="container col-md-8" id="business-show-container">
  
  <div class="biz-header">
      <h1 id="business_name"><%= link_to @business.name, @business.url %> <small><%= @business.location.city %></small></h1>
  </div>  
  <div class="info">

  <p><strong>Map Center: <%= @center %></strong></p>

  <img src="<%= @business.image_url %>">

  <p>Average Rating: 
      <% if @business.rating %>
        <span class="rating">
          <% @business.rating.to_i.times do %>
            <span class="glyphicon glyphicon-star"></span>
          <% end %>
          <% if @business.rating - @business.rating.to_i > 0 %>
            <span class="glyphicon glyphicon-star-empty"></span>
          <% end %>
        </span>  
      <% else %>
        <span class="no-rating">Not yet rated.</span>
      <% end %>
  </p>
  <p>Phone Number: <%= @business.display_phone %></p>
  <p>Street Address: <%= @business.location.display_address %></p>

  <p><%= @business.snippet_text %></p>
    
  </div>
  
</div>

<% end %>