<% content_for :headers do %>  
  <%= render partial: 'businesses/show_map_js', locals: {center: @center} %>
<% end %>

<% content_for :navbar do %>
  <%= render 'layouts/user_menu' %>
<% end %>

<% content_for :map do %>
  <div class="col-md-4">
    <%= render partial: 'map' %>
  </div>
<% end %>

<% content_for :page do %>

<div class="container col-md-8" id="business-show-container">
  
  <div class="biz-header">
      <h1 id="business_name"><%= link_to @business.name, @business.url %> <small><%= @business.location.city %></small></h1>
  </div>  
  <div class="info">
    
    <div class="info-aspect rating-container">
        <% if @business.rating %>
          <h2><span class="rating">
            <% @business.rating.to_i.times do %>
              <span class="glyphicon glyphicon-star"></span>
            <% end %>
            <% if @business.rating - @business.rating.to_i > 0 %>
              <span class="glyphicon glyphicon-star-empty"></span>
            <% end %>
          </span></h1>
        <% else %>
          <h1><span class="no-rating">Not yet rated.</span></h2>
        <% end %>
    </div>
    <div class="info-aspect phone-container">
      <h3><%= @business.display_phone %></h3>
    </div>
    <div class="info-aspect address-container">
      <h4><%= @business.location.display_address %></h4>
    </div>
    
    <a id="biz-show-yelp-link" href="<%= @business.url %>" target="_blank">
      <div class="yelp-info-container row">
        <div class="yelp-info col-md-4">
          <div class="yelp-logo"><%= image_tag "yelp_logo.png", class: "img-responsive" %></div>
          <h4>Review Count: <%= @business.review_count %></h4>
          <h4>Average Rating: <%= @business.yelp_rating %></h4>
        </div>
        <div class="yelp_review_container col-md-6">
          <% @yelp_reviews.each do |review| %>
            <div class="yelp-review-snippet">
              <p><%= review.yelp_user_name %></p>
              <img src="<%= review.rating_image_large_url %>">
              <p><%= review.excerpt %></p>
            </div>
          <% end %>
        </div>
        <div class="yelp-pic col-md-2"><img class="img-responsive" src="<%= @business.image_url %>"></div>
      </div>
    </a>
    
    
  </div>
  
</div>

<% end %>