<% content_for :headers do %>  
  <%= render partial: 'businesses/show_map_js', locals: {center: @center} %>
<% end %>

<% content_for :navbar do %>
  <%= render 'layouts/nav' %>
<% end %>

<% content_for :map do %>
  <div class="col-md-4">
    <%= render partial: 'map' %>
  </div>
<% end %>

<% content_for :page do %>

<div class="container col-md-8">
  <div id="business-show-container">

    <div class="biz-header">
        <h1 id="business_name">
          <% if @favorite && current_user %>
          <a href="#">
            <span class="favorite glyphicon glyphicon-heart-empty" 
              id="favorite-heart" 
              data-fav_id="<%= @favorite.id %>">
            </span>
        <% elsif current_user %>
          <a href="#">
            <span class="glyphicon glyphicon-heart-empty" 
              id="favorite-heart"
              data-user_id="<%= current_user ? current_user.id : 0 %>"
              data-biz_id="<%= @business.id %>">
            </span>
        <% else %>
          <a href="#"
          data-toggle="modal" 
          data-target="#sign-in-modal">
            <span class="glyphicon glyphicon-heart-empty" 
              id="favorite-heart">
            </span>
        <% end %>
          </a>
    
          <%= @business.name %>
          <small><%= @business.location.city %></small>
        </h1>
    </div>  
    <div class="info">
  
      <div class="info-aspect rating-container">
        <h3>

          <% if current_user && !current_user.ratings.map(&:business_id).include?(@business.id) %>
            <a href="#"
            data-toggle="modal" 
            data-target="#rating-modal">
          <% elsif !current_user %>
            <a href="#"
            data-toggle="modal" 
            data-target="#sign-in-modal">        
          <% else %>
            <a>
          <% end %>
      
          <% if @business.rating %>
                <span class="rating" id="biz-rating">
                <% @business.rating.to_i.times do %>
                  <span class="glyphicon glyphicon-star"></span>
                <% end %>
                <% if @business.rating - @business.rating.to_i > 0 %>
                  <span class="glyphicon glyphicon-star-empty"></span>
                <% end %>
                </span>
          <% else %>  
              <span class="no-rating" id="biz-rating">Not yet rated.</span>
          <% end %>
      
          </a>
        </h3>
      </div>
      <div class="info-aspect phone-container">
        <h4><%= @business.display_phone %></h4>
      </div>
      <div class="info-aspect address-container">
        <h4><%= @business.location.display_address %></h4>
      </div>
  
      <a id="biz-show-yelp-link" href="<%= @business.url %>" target="_blank">
        <div class="yelp-info-container row">
          <div class="yelp-info col-md-4">
            <div class="yelp-logo"><%= image_tag "yelp_logo.png", class: "img-responsive" %></div>
            <h4>Review Count: <%= @business.review_count %></h4>
            <h4>Average Rating: <%= @business.yelp_rating %></h4>
          </div>
          <div class="yelp_review_container col-md-6">
            <div class="yelp-review-snippet">
              <p><%= @yelp_reviews[0].yelp_user_name %></p>
              <img src="<%= @yelp_reviews[0].rating_image_large_url %>">
              <p><%= @yelp_reviews[0].excerpt %></p>
            </div>
          </div>
          <div class="yelp-pic col-md-2"><img class="img-responsive" src="<%= @business.image_url %>"></div>
        </div>
      </a>
  
  
    </div>

  </div>
  
</div>


<%= render partial: "ratings/new", locals: { business: @business } %>


<% end %>


<% content_for :scripts do %>


<script type="text/javascript">

<% if current_user && !current_user.ratings.map(&:business_id).include?(@business.id) %>

  $("#rating-form").on('click', '.rating-star', function (event) {
    
    event.preventDefault();
    
    var nStars = $(this).data("value");
    
    $(this).closest("#rating-form").find("#submit-rating").data("rating", nStars);
    
    $("#rating-form .rating-star").each( function (index, star) {
      if ($(star).data("value") <= nStars) {
        $(star).css("color", "gold");
      } else {
        $(star).css("color", "black");
      }
    });
  });


  $("#rating-form").on('click', '#submit-rating', function (event) {
    event.preventDefault();
  
    var rating = $(this).data("rating");
    var bizId = $(this).data('biz_id');
    var thisLoc = window.location.pathname;
  
    var data = {
      rating: {
        stars: rating,
        business_id: bizId,
        user_id: <%= current_user.id %>
      }
    };
  
    // ajax to create rating
    $.ajax({
      url: "<%= ratings_url %>",
      method: 'post',
      data: data,
      success: function (resp) {
        window.location = thisLoc;
      }
    });  
  });
  
<% end %>

function createFav ($heart) {
  var user_id = $heart.data('user_id');
  var biz_id = $heart.data('biz_id');
  
  var data = {
    favorite: {
      business_id: biz_id,
      user_id: user_id
    }
  };
    
  $.ajax({
    url: "<%= favorites_url %>",
    method: 'post',
    data: data,
    success: function (resp) {
      $heart.data('fav_id', resp.id);
      $heart.addClass('favorite');
    }
  });
}

function destroyFav ($heart) {
  var fav_id = $heart.data('fav_id');
  var thisLoc = window.location.pathname;
      
  $.ajax({
    url: "<%= favorites_url %>/" + fav_id,
    method: 'delete',
    success: function (resp) {
      console.log(resp);
      $heart.removeClass('favorite');
      $heart.data('fav_id', null);
      $heart.data('user_id', <%= current_user ? current_user.id : 0 %>);
      $heart.data('biz_id', <%= @business.id %>);
    }
  });
}
  
$("#favorite-heart").click( function (event) {
  event.preventDefault();
  
  var $heart = $(event.target);
  
  if ($heart.data('fav_id')) {
    destroyFav($heart);
  } else {
    createFav($heart);
  }
  
});
  
</script>


<% if current_user && current_user.username == 'guest' %>

  <script type="text/javascript">

  tour = new Shepherd.Tour({
    defaults: {
      classes: 'shepherd-theme-arrows',
      showCancelLink: true,
      buttons: [{
        text: 'Next',
        classes: 'btn btn-default'
      }]
    }
  });

  var bizRate = "Why don't you rate it! Click on the stars or text above.<br><br>A modal will drop down asking you to give this business a number of stars.<br>Click on the stars to rate this business.<br><br>You'll be able to see the businesses that you've rated in your feed!";

  var bizFav = "Maybe you'd like to remember this business for later.<br>Go ahead and click on the heart to \"favorite\" this business.<br><br>You'll be able to see businesses that you've favorited in your feed!";

  var userMenu = "Now that you've generated a little activity, why don't we check out your feed?<br>Click the \"Hi, guest!\" dropdown menu, and then click the link for <em>my</em> feed.";

  tour.addStep('biz-rate', {
    title: '<strong>Love this business?</strong>',
    text: bizRate,
    attachTo: '#biz-rating bottom',
    advanceOn: '.btn click'
  });

  tour.addStep('biz-fav', {
    title: '<strong>Is this one of your favorite businesses?</strong>',
    text: bizFav,
    attachTo: '#favorite-heart bottom',
    advanceOn: '.btn click'
  });
  
  tour.addStep('biz-click', {
    title: '<strong>Check out your feed!</strong>',
    text: userMenu,
    attachTo: 'nav bottom',
    advanceOn: '.btn click',
    buttons: false,
    tetherOptions: {
      targetOffset: '20% 50%'
    }
  });

  tour.start();
  </script>

<% end %>
  
<% end %>