<% content_for :headers do %>  
  <%= render partial: 'businesses/show_map_js', locals: {center: @center} %>
<% end %>

<% content_for :navbar do %>
  <%= render 'layouts/user_menu' %>
<% end %>

<% content_for :map do %>
  <div class="col-md-4">
    <%= render partial: 'map' %>
  </div>
<% end %>

<% content_for :page do %>

<div class="container col-md-8" id="business-show-container">
  
  <div class="biz-header">
      <h1 id="business_name"><%= @business.name %> <small><%= @business.location.city %></small></h1>
  </div>  
  <div class="info">
    
    <div class="info-aspect rating-container">
      <h3>
        <a href="<%= current_user ? "#" : new_user_session_url %>" 
        data-toggle="modal" 
        data-target="#rating-modal">
        
        <% if @business.rating %>
              <span class="rating" id="biz-rating">
              <% @business.rating.to_i.times do %>
                <span class="glyphicon glyphicon-star"></span>
              <% end %>
              <% if @business.rating - @business.rating.to_i > 0 %>
                <span class="glyphicon glyphicon-star-empty"></span>
              <% end %>
              </span>
        <% else %>  
            <span class="no-rating" id="biz-rating">Not yet rated.</span>
        <% end %>
        
        </a>
      </h3>
    </div>
    <div class="info-aspect phone-container">
      <h4><%= @business.display_phone %></h4>
    </div>
    <div class="info-aspect address-container">
      <h4><%= @business.location.display_address %></h4>
    </div>
    
    <a id="biz-show-yelp-link" href="<%= @business.url %>" target="_blank">
      <div class="yelp-info-container row">
        <div class="yelp-info col-md-4">
          <div class="yelp-logo"><%= image_tag "yelp_logo.png", class: "img-responsive" %></div>
          <h4>Review Count: <%= @business.review_count %></h4>
          <h4>Average Rating: <%= @business.yelp_rating %></h4>
        </div>
        <div class="yelp_review_container col-md-6">
          <% @yelp_reviews.each do |review| %>
            <div class="yelp-review-snippet">
              <p><%= review.yelp_user_name %></p>
              <img src="<%= review.rating_image_large_url %>">
              <p><%= review.excerpt %></p>
            </div>
          <% end %>
        </div>
        <div class="yelp-pic col-md-2"><img class="img-responsive" src="<%= @business.image_url %>"></div>
      </div>
    </a>
    
    
  </div>
  
</div>




<div class="modal fade" id="rating-modal" tabindex="-1" role="dialog" aria-labelledby="ratingModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="rating-form">
        <h3>How was <%= @business.name %>?</h3>
        <span class="rating">
          <% 5.times do |n| %>
            <span class="glyphicon glyphicon-star rating-star" value="0"></span>
          <% end %>
        </span>
        <div id="button-div">
          <button id="submit-rating" class="btn btn-default" data-biz_id="<%= @business.id %>">Rate!</button>
        </div>
      </div>        
    </div>
  </div>
</div>

<% end %>


<% content_for :scripts do %>


<script type="text/javascript">

<% if current_user %>

  $("#rating-form").on('click', '.rating-star', function (event) {
    event.preventDefault();

    if ($(this).attr("value") == 1) {
      $(this).attr("value", 0);
      $(this).css("color", "black");
    } else {
      $(this).attr("value", 1);
      $(this).css("color", "gold");
    }

  });


  $("#rating-form").on('click', 'button', function (event) {
    event.preventDefault();
  
    var rating = 0;
    var bizId = $(this).data('biz_id');
    var thisLoc = window.location.pathname;
  
    $("#rating-form .rating-star").each( function (index, star) {
      if ($(star).attr("value") == 1) {
        rating ++;
      }
    });

    var data = {
      rating: {
        stars: rating,
        business_id: bizId,
        user_id: <%= current_user.id %>
      }
    };
  
    // ajax to create rating
    $.ajax({
      url: "<%= ratings_url %>",
      method: 'post',
      data: data,
      success: function (resp) {
        console.log("rating succeeded!");
        window.location = thisLoc;
      }
    });  
  });
  
  <% end %>
  
</script>

<% end %>