<% content_for :navbar do %>
  <%= render 'layouts/nav' %>
<% end %>


<% content_for :page do %>

<div class="user-form sign-up">
  <h2>Sign <span class="logo my">Up</span></h2>

  <div class="form-box">
    <form accept-charset="UTF-8" action="/users" class="new_user" id="new_user" method="post">
      <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><%= form_auth %></div>

        <div class="form-group"><label for="user_email">Email</label>
        <input autofocus="autofocus" class="form-control" id="user_email" name="user[email]" type="email" value="<%= resource.email %>"></div>

        <div class="form-group"><label for="user_username">Username</label>
        <input autofocus="autofocus" class="form-control" id="user_username" name="user[username]" type="text" value="<%= resource.username %>"></div>

        <div class="form-group"><label for="user_password">Password</label>
          <input autocomplete="off" class="form-control" id="user_password" name="user[password]" type="password"></div>

        <div class="form-group"><label for="user_password_confirmation">Password confirmation</label>
          <input autocomplete="off" class="form-control" id="user_password_confirmation" name="user[password_confirmation]" type="password"></div>

        <div><input class="btn btn-primary" name="commit" type="submit" value="Sign Up"></div>
    </form>
  </div>
  
  <div class="user-form-links">
    <%= render "devise/shared/links" %>
  </div>
  
  <div id="guest-spacer">
    <button id="guest-login" class="btn btn-default">Sign In as Guest</button>
  </div>
    
</div>

<% end %>

<% content_for :scripts do %>

<script type="text/javascript">
$('#guest-login').click( function (event) {
  var data = {
    user: {
      email: 'guest@missmaggiemo.com',
      password: 'testtest'
    }
  };
  
  $.ajax({
    url: "<%= new_user_session_url %>",
    method: 'post',
    data: data,
    success: function (resp) {
      window.location = "/";
    }
  })
});
</script>

<% end %>