<div class="col-sm-3 feed-pic">
  <%= image_tag "google_pin.png", class: "img-responsive" %>
</div>
<div class="col-sm-9 feed-text">
  <h4><%= user.username %> searched for</h4>
  <a href="<%= search_url(search) %>">
    <h4><%= search.search_term %>
      <br>
      <small><%= search.location %></small>
    </h4>
  </a>
</div> 