<% content_for :navbar do %>
  <%= render 'layouts/nav' %>
<% end %>

<% content_for :page do %>

<div class="container user-show">

  <div class="row" id="user-info-row">
    <div class="col-md-3" id="profile-pic-container">
      <div class="gravatar" id="profile-pic">
        <a href="http://en.gravatar.com/emails" target="_blank">
          <img src="http://www.gravatar.com/avatar/<%= @user.email_hash %>?s=200&r=pg">
        </a>
      </div>
      <h2 class="friends-header"><span class="logo my">my</span> friends</h2>
      <div class="friends-container" id="friends-container">
        <div class="friends-scroll" id="friends-scroll">
          <% @user.pending_friendships.each do |friendship, friend| %>
            <div class="friend-pending-container">
              <div class="friend-div row">
                <a href="<%= user_url(friend) %>" class="friend-div-link">
                  <div class="col-xs-3 feed-pic">
                      <img src="http://www.gravatar.com/avatar/<%= friend.email_hash %>?s=100&r=pg" class="img-responsive">
                  </div>
                </a>
                <div class="col-xs-7 feed-text" id="friend-pending-text">
                  <p><%= friend.username %> wants to be your friend!</p>
                </div>
              </div>
              <div class="friend-div row btn-row">
                <div class="col-xs-10 friend-btn-container">
                  <button class='btn btn-default btn-xs friend-confirm-btn' id='friend-confirm-btn-ok' data-user_id="<%= current_user.id %>" data-friend_id="<%= friend.id %>" data-f_id="<%= friendship.id %>"><span class='glyphicon glyphicon-ok'></span> confirm</button>
                  <button class='btn btn-default btn-xs friend-confirm-btn' id='friend-confirm-btn-remove' data-f_id="<%= friendship.id %>"><span class='glyphicon glyphicon-remove'></span> ignore</button>
                </div>              
              </div>            
            </div>
            <% end %>
          <% @user.friends.each do |friend| %>
          <a href="<%= user_url(friend) %>" class="friend-div-link">
            <div class="friend-div row">
              <div class="col-xs-3 feed-pic">
                  <img src="http://www.gravatar.com/avatar/<%= friend.email_hash %>?s=100&r=pg" class="img-responsive">
              </div>
              <div class="col-xs-9 feed-text">
                <h4><%= friend.username %></h4>
              </div>
            </div>
          </a>
          <% end %>
          <% if @user.friends.empty? %>
          <div class="friend-div row">
            <h2><small>You don't have any friends yet!</small></h2>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-9" id="profile-info-container">
      <div class="profile-header">
        <h1 id="user-welcome"><%= @user.username %>
          <small><%= @user.email %></small>
        </h1>
      </div>  
      <div class="info" id="feed">
        <div class="info-container-scroll">
          <h2><span class="logo my">my</span> feed</h2>
          <% unless @user.feed.empty? %>
            <%= render partial: 'users/feed', locals: { feed: @user.feed } %>
          <% else %>
            <h2><small>You don't have any activity yet!</small></h2>
          <% end %>
        </div>
      </div>
    </div>
  </div>  
</div>

<% end %>


<% content_for :scripts do %>

<script type="text/javascript">

  function addFriend ($button) {
    var confirmHtml = "friend request confirmed!";
    var id = $button.data('f_id');
    var $btnDiv = $button.parent();
    var data = {
      friendship: {
        user_id: $button.data('user_id'),
        friend_id: $button.data('friend_id'),
        confirmed: true
      }
    };
  
    $.ajax({
      url: "<%= friendships_url %>",
      method: 'post',
      data: data,
      success: function(resp) {
        console.log(resp);
        $btnDiv.html("");
        $btnDiv.closest(".friend-pending-container").find("#friend-pending-text").html(confirmHtml);
      }
    });
    
    $.ajax({
      url: "/friendships/" + id,
      method: 'patch',
      data: { friendship: { confirmed: true } },
      success: function(resp) {
        console.log(resp);
      }
    });
  }

  function ignoreFriend ($button) {
    var confirmHtml = "friend request has been removed";
    var id = $button.data('f_id');
    var $btnDiv = $button.parent();
    $.ajax({
      url: "/friendships/" + id,
      method: 'delete',
      success: function(resp) {
        console.log(resp);
        $btnDiv.html("");
        $btnDiv.closest(".friend-pending-container").find("#friend-pending-text").html(confirmHtml);
      }
    });
  }

  $("#friends-container").on('click', "#friend-confirm-btn-ok", function (event) {
    event.preventDefault();
    var $button = $(this);
    addFriend($button);
  });
  
  $("#friends-container").on('click', "#friend-confirm-btn-remove", function (event) {
    event.preventDefault();
    var $button = $(this);
    ignoreFriend($button);
  });

</script>

<% end %>