<% content_for :navbar do %>
  <%= render 'layouts/nav' %>
<% end %>

<% content_for :page do %>

<div class="container user-show">

  <div class="row" id="user-info-row">
    <div class="col-md-3" id="profile-pic-container">
      <div class="gravatar" id="profile-pic">
        <a href="http://en.gravatar.com/emails" target="_blank">
          <img src="http://www.gravatar.com/avatar/<%= @user.email_hash %>?s=200&r=pg">
        </a>
      </div>
      <div class="friends-container" id="friends-container">
        <div class="friends-scroll" id="friends-scroll">
          <h2><span class="logo my">my</span> friends</h2>
          <% @user.friends.each do |friend| %>
          <a href="<%= user_url(friend) %>" class="friend-div-link">
            <div class="friend-div row">
              <div class="col-xs-3 feed-pic">
                  <img src="http://www.gravatar.com/avatar/<%= friend.email_hash %>?s=100&r=pg" class="img-responsive">
              </div>
              <div class="col-xs-9 feed-text">
                <h4><%= friend.username %></h4>
              </div>
            </div>
          </a>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-9" id="profile-info-container">
      <div class="profile-header">
        <h1 id="user-welcome"><%= @user.username %>
          <small><%= @user.email %></small>
        </h1>
      </div>  
      <div class="info" id="feed">
        <div class="info-container-scroll">
          <h2><span class="logo my">my</span> feed</h2>
          <% unless @user.feed.empty? %>
            <%= render partial: 'users/feed', locals: { feed: @user.feed } %>
          <% else %>
            <h2><small>You don't have any activity yet!</small></h2>
          <% end %>
        </div>
      </div>
    </div>
  </div>  
</div>

<% end %>


<% content_for :scripts do %>

<script type="text/javascript">

  function addFriend ($button) {
    var unfriendHtml = "<button class='btn btn-default friend-btn' id='friend-btn'><span class='glyphicon glyphicon-minus'></span> unfriend</button>";
    var data = {
      friendship: {
        user_id: $button.data('user_id'),
        friend_id: $button.data('friend_id')
      }
    };
  
    $.ajax({
      url: "<%= friendships_url %>",
      method: 'post',
      data: data,
      success: function(resp) {
        console.log(resp);
        $unfriendButton = $(unfriendHtml);
        $unfriendButton.data('f_id', resp.id);
        $button.replaceWith($unfriendButton);
      }
    });
  }

  function removeFriend ($button) {
    var friendHtml = "<button class='btn btn-default friend-btn' id='friend-btn'><span class='glyphicon glyphicon-plus'></span> friend</button>";
    var id = $button.data('f_id');
    $.ajax({
      url: "/friendships/" + id,
      method: 'delete',
      success: function(resp) {
        console.log(resp);
        $friendButton = $(friendHtml);
        $friendButton.data('user_id', <%= current_user.id if current_user %>);
        $friendButton.data('friend_id', <%= @user.id %>);
        $button.replaceWith($friendButton);
      }
    });
  }

  $("#user-welcome").on('click', "#friend-btn", function (event) {
    event.preventDefault();
    var $button = $(this);
    if ($button.data('f_id')) {
      removeFriend($button);
    } else {
      addFriend($button);
    }
  });

</script>

<% end %>