<% content_for :navbar do %>
  <%= render 'layouts/nav' %>
<% end %>

<% content_for :page do %>

<div class="container user-show">

  <div class="row" id="user-info-row">
    <div class="col-md-3" id="profile-pic-container">

      <div class="gravatar" id="profile-pic">
        <a href="http://en.gravatar.com/emails" target="_blank">
          <img src="http://www.gravatar.com/avatar/<%= @user.email_hash %>?s=100&r=pg">
        </a>
      </div>
    </div>

    <div class="col-md-9" id="profile-info-container">
      <div class="profile-header">
        <h1 id="user-welcome"><%= @user.username %>
          <small><%= @user.email %></small>
          <% if current_user %>
            <% if @user != current_user && !current_user.friends.include?(@user) %>
              <button 
                class="btn btn-default friend-btn" 
                id="friend-btn" 
                data-user_id="<%= current_user.id %>" 
                data-friend_id="<%= @user.id %>">
                <span class="glyphicon glyphicon-plus"></span>
                friend
              </button>
            <% elsif current_user.friends.include?(@user) %>
              <button 
                class="btn btn-default friend-btn" 
                id="friend-btn" 
                data-f_one_id="<%= Friendship.find_by(user_id: current_user.id, friend_id: @user.id).id %>"
                data-f_two_id="<%= Friendship.find_by(friend_id: current_user.id, user_id: @user.id).id %>">
                <span class="glyphicon glyphicon-minus"></span>
                unfriend
              </button>
            <% end %>
          <% end %>
        </h1>
      </div>  
    </div>
  </div>
  
  <div class="row" id="user-activity-row">
    <div class="col-md-4 favorites-container">
      <div class="activity-container">
        <div class="activity-container-scroll">
          <h2><span class="logo my">my</span> favorites</h2>
          <% unless @user.favorites.empty? %>
            <% @user.favorites.each do |fav| %>
              <%= render partial: 'favorites/fav_snippet', locals: { fav: fav, biz: Business.find(fav.business_id) } %>
            <% end %>
          <% else %>
            <h2><small>Favorite businesses will go here.</small></h2>
          <% end %>          
        </div>
      </div>
    </div>
    <div class="col-md-4 recent-ratings-container">
      <div class="activity-container">
        <div class="activity-container-scroll">
          <h2><span class="logo my">my</span> recent ratings</h2>
          <% unless @user.recent_ratings.empty? %>
            <% @user.recent_ratings.each do |rating| %>
              <%= render partial: 'ratings/rating_snippet', locals: { rating: rating, biz: Business.find(rating.business_id) } %>
            <% end %>
          <% else %>
            <h2><small>Recently rated businesses will go here.</small></h2>
          <% end %>          
        </div>
      </div>      
    </div>
    <div class="col-md-4 recent-searches-container">
      <div class="activity-container">
        <div class="activity-container-scroll">
          <h2><span class="logo my">my</span> recent searches</h2>
          <% unless @user.recent_searches.empty? %>
            <% @user.recent_searches.each do |saved_search| %>
              <%= render partial: 'searches/search_snippet', locals: { saved_search: saved_search, search: Search.find(saved_search.search_id) } %>
            <% end %>
          <% else %>
            <h2><small>Recent searches will go here.</small></h2>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
</div>

<% end %>


<% content_for :scripts do %>

<script type="text/javascript">

  function addFriend ($button) {
    var unfriendHtml = "<button class='btn btn-default friend-btn'><span class='glyphicon glyphicon-asterisk'></span> friend rquest pending</button>";
    var data = {
      friendship: {
        user_id: $button.data('user_id'),
        friend_id: $button.data('friend_id')
      }
    };
  
    $.ajax({
      url: "<%= friendships_url %>",
      method: 'post',
      data: data,
      success: function(resp) {
        console.log(resp);
        $unfriendButton = $(unfriendHtml);
        $unfriendButton.data('f_id', resp.id);
        $button.replaceWith($unfriendButton);
      }
    });
  }

  function removeFriend ($button) {
    var friendHtml = "<button class='btn btn-default friend-btn' id='friend-btn'><span class='glyphicon glyphicon-plus'></span> friend</button>";
    var idOne = $button.data('f_one_id');
    var idTwo = $button.data('f_two_id');
    $.ajax({
      url: "/friendships/" + idOne,
      method: 'delete',
      success: function(resp) {
        console.log(resp);
        
        $.ajax({
          url: "/friendships/" + idTwo,
          method: 'delete',
          success: function(resp) {
            console.log(resp);
            $friendButton = $(friendHtml);
            $friendButton.data('user_id', <%= current_user.id if current_user %>);
            $friendButton.data('friend_id', <%= @user.id %>);
            $button.replaceWith($friendButton);
          }
        });
        
      }
    });
  }

  $("#user-welcome").on('click', "#friend-btn", function (event) {
    event.preventDefault();
    var $button = $(this);
    if ($button.data('f_one_id')) {
      removeFriend($button);
    } else {
      addFriend($button);
    }
  });

</script>

<% end %>