<% content_for :navbar do %>
  <%= render 'layouts/nav' %>
<% end %>

<% content_for :page do %>

<div class="container results-container">
  <% unless @matches.empty? %>
    <h3 class="results-length">There are <%= @matches.length %> users with usernames and/or email addresses that match "<%= @search_term %>"...</h3>
    <% @matches.each do |user| %>
      <%= render partial: 'users/user_snippet', locals: { user: user, feed_item: user.feed.first } %>
    <% end %>  
  <% else %>
    <h1 class="no-results"><span class="logo my">Oh no!</span> It looks like there aren't any users named "<%= @search_term %>"!</h1>
  <% end %>
  
</div>

<% end %>
