<a class="biz-snippet-link" href="<%= business_path(business) %>"><div class="biz-snippet">
  <h3><%= business[:name] %></h3>
  <p>Average Rating: 
    <% if business.rating %>
      <span class="rating">
        <% business.rating.to_i.times do %>
          <span class="glyphicon glyphicon-star"></span>
        <% end %>
        <% if business.rating - business.rating.to_i > 0 %>
          <span class="glyphicon glyphicon-star-empty"></span>
        <% end %>
      </span>  
    <% else %>
      <span class="no-rating">Not yet rated.</span>
    <% end %>
  </p>
  <p>Number of Reviews: <%= business[:review_count]%></p>
  <p>Address: <%= business.location.display_address %></p>
  <p>Phone Number: <%= business[:display_phone] %></p>
  <hr class="biz-hr">  
</div></a>
