<% content_for :headers do %>
  <%= render partial: 'searches/show_map_js', locals: {center: @center, businesses: @business_results} %>
<% end %>

<% content_for :map do %>
  <%= render partial: 'map' %>
<% end %>


<% content_for :page do %>

<p id="notice"><%= notice %></p>

<div id="results_list">
  
  <% @business_results.each do |business| %>
    <%= render partial: 'business_snippet', locals: {business: business} %>
  <% end %>
  
</div>

<%= link_to 'Back', :back %>

<% end %>
