<% content_for :headers do %>
  <%= render partial: 'searches/show_map_js', locals: {center: @center, businesses: @business_results} %>
<% end %>

<% content_for :navbar do %>
  <%= render 'layouts/user_menu' %>
<% end %>

<% content_for :map do %>
  <%= render partial: 'map' %>
<% end %>


<% content_for :page do %>

<p id="notice"><%= notice %></p>

<div class="container list-wrapper">
  <div id="results-list">
  
    <% @business_results.each do |business| %>
      <%= render partial: 'business_snippet', locals: {business: business} %>
    <% end %>
  
  </div>  
</div>


<% end %>
