<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#user-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span class="logo find">Find</span><span class="logo my">my</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="user-nav">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi, <%= current_user.username %>! <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="link" ><a href="<%= user_url(current_user) %>">Profile</a></li>
            <!-- <li class="link" ><a href="#">Recent Searches</a></li> -->
            <!-- <li class="link" ><a href="#">Favorite Businesses</a></li> -->
            <li class="divider"></li>
            <li class="link" ><%= link_to "Sign Out", destroy_user_session_url, method: :delete %></li>
          </ul>
        </li>
        <% else %>
        <li><a href="<%= new_user_session_url %>" data-toggle="modal" data-target="#sign-in-modal">Sign <span class="logo my">In</span></a></li>
        <li><a href="<%= new_user_registration_url %>" data-toggle="modal" data-target="#sign-up-modal">Sign <span class="logo my">Up</span></a></li>
        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- Modal -->
<div class="modal fade user-form-modal" id="sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="sign-in-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">      
    </div>
  </div>
</div>


<div class="modal fade user-form-modal" id="sign-up-modal" tabindex="-1" role="dialog" aria-labelledby="sign-in-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>



<script type="text/javascript">

  $("ul.dropdown-menu li.link").hover( function (event) {
    $(this).css('background-color', "#EEEEEE");
  }, function (event) {
    $(this).css('background-color', '#FFFFFF');
  });
        
</script>

