<!DOCTYPE html>
<html>
<head>
  <title>Find my</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <link href='//fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="W4uLhDhx2LmmVP6VIrhvX54xDl59T-AZN76eCKK-2WE" />
  <%= favicon_link_tag %>
  
  <%= yield :headers %>
</head>
<body>
  
<%= yield :navbar %>
      
<%= yield :map %>

<%= yield :page %>

<%= yield :scripts %>


<script type="text/javascript">

  $(function() {
      FastClick.attach(document.body);
  });
  
  $("div.modal-content").hover( function (event) {
    var closeX = $("<button type='button' class='close' data-dismiss='modal' id='close-x' aria-hidden='true'>&times;</button>");
    $(this).prepend(closeX);
  }, function (event) {
    var closeX = $(this).find("button#close-x").remove();
  });
  
</script>

</body>
</html>
