<!DOCTYPE html>
<html>
<head>
  <title>Find my</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  
  <%= yield :headers %>
</head>
<body>
  
  <!-- <div id="logo-background">
    <span class="logo find">Find</span><span class="logo my">my</span>
  </div> -->
  
<%= yield :navbar %>
      
<%= yield :map %>

<%= yield :page %>

<%= yield :scripts %>

</body>
</html>
