<!DOCTYPE html>
<html>
<head>
  <title>YelpApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <%= yield :headers %>
</head>
<body>

<%= yield :page %>

</body>
</html>
