<!DOCTYPE html>
<html>
<head>
  <title>YelpApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  
  <%= yield :headers %>
</head>
<body>
      
<%= yield :map %>

<%= render 'layouts/user_menu' %>


<%= yield :page %>    

</body>
</html>
